<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="almostlover.com.viewcollection">
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许获取Wi-Fi网络状态改变信息 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- SD 卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
            android:name=".App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activitys.layoutmanager.LayoutManagerDemo1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.myviewgroup.MyViewPageActivity">

        </activity>
        <activity android:name=".activitys.viewdrag.RecyclerMenuActivity" />
        <activity android:name=".activitys.inslayout.InsActivity" />
        <activity android:name=".activitys.jetpack_component.livedata.LiveDataActivity" />
        <activity android:name=".activitys.jetpack_component.lifecycle.LifecycleActivity" />
        <activity android:name=".activitys.recyclerview_animation.FirstInAnimationActivity" />
        <activity android:name=".activitys.layoutmanager.LayoutManagerActivity" />
        <activity android:name=".activitys.ImageInActivity" />
        <activity android:name=".activitys.Retrofit2Activity" />
        <activity android:name=".activitys.habiticaloginactivity.activity.HabiticLoginActivity" />
        <activity android:name=".test.TestJavaActivity" />
        <activity android:name=".webrtc.Class3ClientActivity" />
        <activity android:name=".webrtc.Class2TwoCameraActivity" />
        <activity android:name=".webrtc.Class1CameraActivity" />
        <activity android:name=".socket.SocketServer1Activity" />
        <activity android:name=".socket.SocketServerActivity" />
        <activity android:name=".socket.SocketTestActivity" />
        <activity android:name=".views.upfliewebview.LoadLocalHTMLActivity" />
        <activity android:name=".activitys.sku.SKUActivity" />
        <activity android:name=".activitys.screenrecorder.mediarecorder.MainActivity" />
        <activity android:name=".activitys.screenrecorder.MainActivity" />
        <activity android:name=".activitys.screenrecorder.MediaRecorderActivity" />
        <activity android:name=".activitys.screenrecorder.ScreenRecorderActivity" />
        <activity android:name=".activitys.autoviewsizeviewpagerheight.AutoSizeHeightActivity" />
        <activity android:name=".activitys.dlna.CyberGarageActivity" />
        <activity android:name=".activitys.autoscrollbgpackage.AutoScrollBGActivity" />
        <activity android:name=".activitys.scroller.activity.ScrollHistoryActivity" />
        <activity android:name=".activitys.scroller.activity.Scroller01Activity" />
        <activity android:name=".activitys.nestedscrolling.NestedScrolling01Activity" />
        <activity android:name=".activitys.nestedscrolling.NestedScrollingActivity" />
        <activity android:name=".activitys.fancybehavior.ScrollingActivity" />
        <activity android:name=".activitys.recyelerviewpagerecycler.RecyeclerViewPagerRecyclerViewActivity" />
        <activity android:name=".activitys.recyclerviewviewpagertest2.RecyeclerViewPagerRecyclerViewActivity" />
        <activity android:name=".activitys.litepage.LitePageActivity" />
        <activity android:name=".activitys.recyclerview_recycler.RecyclerViewHowToRecycleActivity" />
        <activity android:name=".activitys.wallpaper.WallPagerActivity" />
        <activity android:name=".annotation.AnnotationActivity" />
        <activity android:name=".activitys.viewdrag.ViewDragHelperActivity" />
        <activity android:name=".activitys.motioneventxdifference.DifferenceBetweenVGAndViewActivity" />
        <activity android:name=".aspectj01.Main3Activity" />
        <activity android:name=".activitys.TitleTransformActivity" />
        <activity android:name=".aspectj.AspectJ01Activity" />
        <activity android:name=".activitys.DargLayoutActivity" />
        <activity android:name=".activitys.FiveWayTimeCountActivity" />
        <activity android:name=".activitys.DoubleSeekBarActivity" />
        <activity android:name=".activitys.DragVerifyActivity" />
        <activity android:name=".activitys.TagFlexBoxActivity" />
        <activity android:name=".activitys.bezierline.BezierLineActivity" />
        <activity android:name=".activitys.anim.ObjectAnimatorActivity" />
        <activity android:name=".activitys.anim.TweenAnimActivity" />
        <activity android:name=".activitys.JDAddCartTransfromActivity" />
        <activity android:name=".activitys.ViewFlipperActivity" />
        <activity android:name=".activitys.viewdrag.SixWay2DragViewActivity" />
        <activity android:name=".activitys.CakeViewActivity" />
        <activity android:name=".activitys.LoginActivity" />
        <activity android:name=".activitys.ElmeShyImageActivity" />
        <activity android:name=".MainActivity" />

        <service android:name=".activitys.screenrecorder.mediacodec.RecordService" />
        <service android:name=".activitys.screenrecorder.mediacodec.ScreenRecordService" />
        <service android:name=".activitys.screenrecorder.mediarecorder.ScreenRecordService1" /> <!-- 管理启动的activity -->
        <activity
                android:name="cn.com.almostlover.pushtest.ParseIntentActivity"
                android:parentActivityName="cn.com.almostlover.pushtest.SplashActivity">
            <intent-filter>

                <!-- todo remember to change to yourself -->
                <data android:scheme="test" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
                android:name="cn.com.almostlover.pushtest.DetailsActivity"
                android:launchMode="singleTop"
                android:parentActivityName="cn.com.almostlover.pushtest.SplashActivity" />
        <activity android:name="cn.com.almostlover.pushtest.SplashActivity" />

        <activity-alias
                android:name=".LancherActivity"
                android:label="@string/app_name"
                android:targetActivity="cn.com.almostlover.pushtest.SplashActivity" />

        <activity android:name="cn.com.almostlover.pushtest.MainActivity" />
        <activity android:name=".activitys.viewdrag.ViewDragHelperRVActivity"></activity>

        <receiver android:name=".activitys.listen_sms.boardcast.BootBroadcastReciver" />
    </application>

</manifest>